In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width: 90% !important; }</style>"))

/var/folders/1j/drg6fbds6bg2wd8lv32jdzyw65q1ws/T/ipykernel_4824/1189900070.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
import pyconll

In [4]:
from lib import corpus, dbutil

In [5]:
sqlcon = dbutil.get_connection('data/gutenberg.db')

In [6]:
# freqs = corpus.conllu_reader('../gutenfin/corpora/gutenberg/output/8669-8.conllu')
# print(len(freqs[0]))

In [7]:
freqs2 = corpus.conllu_reader('../gutenfin/corpora/gutenberg/output/', verbose=True)

  0%|          | 0/1963 [00:00<?, ?it/s]

In [8]:
print(len(freqs2[0]))

1006441

In [19]:
freqs2[0].most_common(10)

[((',', ',', 'PUNCT'), 1539941),
 (('.', '.', 'PUNCT'), 1119106),
 (('ja', 'ja', 'CCONJ'), 619226),
 (('"', '"', 'PUNCT'), 320585),
 (('hän', 'hän', 'PRON'), 288133),
 (('olla', 'oli', 'AUX'), 245741),
 (('-', '--', 'PUNCT'), 190115),
 (('olla', 'on', 'AUX'), 181792),
 (('ei', 'ei', 'AUX'), 161123),
 (('että', 'että', 'SCONJ'), 154424)]

In [20]:
dbutil.write_freqs_to_db(sqlcon, freqs2)

In [9]:
df = dbutil.get_frequency_dataframe(sqlcon)

In [10]:
df

                 lemma               form    pos  frequency  len
0             produced           produced  PROPN       1545    8
1                   by                 by  PROPN       1747    2
2                 jari               jari  PROPN        136    4
3             koivisto           koivisto  PROPN        142    8
4                elämä             elämän   NOUN       4002    6
...                ...                ...    ...        ...  ...
1006436           joju              jojun  PROPN          1    5
1006437         lehevä            lehevän    ADJ          1    7
1006438      tuokkonen         tuokkoseni   NOUN          1   10
1006439          koppa            koppani   NOUN          1    7
1006440  marja#tuokkos  marjatuokkostansa   NOUN          1   17

[1006441 rows x 5 columns]

In [11]:
df[df['form'] == 'voin']

        lemma  form    pos  frequency  len
14718   voida  voin    AUX       2609    4
17268   voida  voin   VERB        324    4
20196     voi  voin   NOUN         54    4
171014   voin  voin   PRON          1    4
380686  voida  voin   NOUN          6    4
647718    voi  voin  PROPN          1    4

In [12]:
# FIXME: corpus stats building to script

In [27]:
# FIXME: calculate freqamb etc values
# FIXME: uralicnlp analysis for forms

In [29]:
# FIXME: read in .vrt file (suomi24)